/*Zerando a pagina do navegador*/
*{
     margin: 0px;
}
#estrutura{

     background-color: white; /*cor de fundo*/
     width: 90%; /*largura*/
     margin-left: auto; /*margin a esquerda*/
     margin-right: auto;/* margin a direita*/
}
#estrutura #titulo{
    background-image: url("../imagens/Coffee_Cup_511628_1920x1080.jpg"); /*imagem do titulo*/
    background-position: -400px - 380px; /*pasição x, y*/
    color: white;
    font-size: 15pt;
    font-family: Arial;
    padding-top: 10px;/*espaçamento no topo*/
    padding-left: 10px;/*espaçamento a esquerda*/
    height: 350; /*altura seção*/
}
/*classe css, titulo*/
.titulo{
    margin-top: 400px;
}
p{
    text-align: justify; /*paragrafo*/
    text-indent: 20px;/*recuo*/
    font-family: Century Gothic;
    font-size: 14pt;
}
#estrutura #menu ul{
    padding: 0px;/*espaçamento*/
}
#estrutura #menu li{
    /* retirar marcadores*/
    list-style: none;
    /*alinhar menu horizontal*/
    display: inline-block;
    width: 336px;
    text-align: center;
    padding: 0px 0px;
}
#estrutura #menu a{
    /* a href*/
    font-family: Arial;
    font-size: 15pt;
    text-decoration: none;
    color: black;
    background-color: #ff8;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}
#estrutura #menu a:hover{ /*animação a passar o mouse*/
    background-color: black;
    color: aqua;
}
#estrutura #menu a.atual{ /*menu selecionado*/
    background-color: #f90 ;
}